@model Catalogo_GitHub.ViewModel.RepositorioViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <h4>@Model.repositorio.name</h4>
    <h5>@Model.repositorio.description</h5>
    @foreach (var conteudo in Model.conteudos)
    {

        @if (conteudo.type == "file")
        {
            <form asp-action="Arquivo" asp-controller="Repositorio" method="post"
                  asp-route-userName="@Model.repositorio.owner.login"
                  asp-route-repositorioName="@Model.repositorio.name"
                  asp-route-path="@conteudo.path">
                <div class="row">
                    <i class="fas fa-file-alt"></i>
                    <button class="btn btn-link" type="submit">@conteudo.name</button>
                </div>
            </form>
        }
        else if (conteudo.type == "dir")
        {
            <div class="row">
                <i class="fas fa-folder"></i>
                @Html.ActionLink(conteudo.name, "Conteudo", "Repositorio", new
                {
                    userName = Model.repositorio.owner.login,
                    repositorioName = Model.repositorio.name,
                    path = conteudo.path
                })
            </div>
        }
    }
    <hr />
</div>
<div>
    <a href="javascript: history.go(-1)">Voltar</a>
</div>
